h1,p{
    color: aquamarine;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4,h1{
    outline-color: bisque;
    margin-top: auto;
   color: blueviolet;
   border-style: dotte
   
}
